<%-include("partials/header")-%>



<h1>My Groups</h1>

<li>
    <%displayGroups.forEach(function(group){%>

        <h1><%=group.title%></h1>
        <p><%= group.content.substring(0,100) + "..."; %>
        <a href="/groups/<%=group.title %>">View Group</a></p>
        
    <%})%>

</li>




<%-include("partials/footer")-%>